<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.test.tourism.mapper.HotelMapper" >
    <!--查询国内外所有航班-->
    <select id="findAllHotel" resultType="com.test.tourism.model.Hotel">
      select  * from hotel
   </select>
    <!--根据id查询具体的航班-->
    <select id="findHotelById" resultType="com.test.tourism.model.Hotel">
      select  * from hotel where hotel_id =#{id}
   </select>

    <insert id="addHotel" parameterType="com.test.tourism.model.Hotel" >
    insert into hotel (hotel_name, hotel_price, hotel_location, hotel_rooms)
    values (#{hotelName},#{hotelPrice},#{hotelLocation},#{hotelRooms})
    </insert>

    <!--根据出发地名查询具体的航班-->
    <select id="findHotelLocationById" resultType="com.test.tourism.model.Hotel">
      select  * from hotel where hotel_id =#{id}
   </select>
    <!--根据id删除-->
    <delete id="deleteHotelById">
        delete  from hotel where hotel_id=#{id}
    </delete>
    <update id="updateHotel" parameterType="com.test.tourism.model.Hotel">
        update hotel set hotel_name=#{hotelName},hotel_price=#{hotelPrice},
        hotel_location=#{hotelLocation},hotel_rooms=#{hotelRooms}
      where hotel_id=#{hotelId}
</update>
</mapper>