<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.test.tourism.mapper.TravelMapper" >
  <select id="findAllTravel" resultType="com.test.tourism.model.Travel">
    select * from travel
  </select>
  <select id="findTravelById" resultType="com.test.tourism.model.Travel">
    select * from travel where travel_id =#{id}
  </select>
</mapper>